body {
    background-image: url("../images/ocean.jpeg");
}

p {
    color: yellow;
}

.span {
    color: yellow;
}

#title-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10;
    padding-top: 20;
    width: 600;
    height: 160;
    background-color: lightblue;
}

#starter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reset {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#question-1 {
    margin-top: 30;
    text-align: center;
}

#question-2 {
    margin-top: 30;
    text-align: center;
}

#question-3 {
    margin-top: 30;
    text-align: center;
}

#timer {
    margin-left: 650;
    margin-bottom: 70;
    font-size: 70;
    color: yellow;
}